/* Переменные */
:root {
  --main-fond: Roboto, sans-serif;
  --secondari-font: Raleway, sans-serif;
  --accent-color: #2196f3;
  --background-color: #e5e5e5;
  --text-color: #757575;
  --title-color: #212121;
  --color1: #ffffff;
  --color2: #000000;
  --adress-color: rgba(255, 255, 255, 0.6);
  --botton-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --botton-accent-color: #188ce8;
}
/* Конец Переменные */
/* Глобальный  border-box*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Конец глобальный  border-box*/

/* Базовый сброс */
.link {
  text-decoration: none;
}
.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
}
/* Конец базовый сброс */

body {
  font-family: var(--main-fond);
  background-color: var(--color1);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */
/* Логотип */
.header {
  border: 1px solid #ececec;
}
.logo {
  font-family: var(--secondari-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo-studio-header {
  color: var(--color2);
}
.logo-studio-footer {
  color: var(--color1);
}

/* Навигация */
.navigation-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.navigation-list .link.current {
  color: var(--accent-color);
}

/* Телефон и mail */
.header-icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--text-color);
}
.header-icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--text-color);
}
.kontakt-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.navigation-link:hover,
.navigation-link:focus,
.kontakt-link:hover,
.kontakt-link:focus {
  color: var(--accent-color);
}
.kontakt-link:hover .header-icon-smartphone,
.kontakt-link:focus .header-icon-smartphone,
.kontakt-link:hover .header-icon-envelope,
.kontakt-link:focus .header-icon-envelope {
  fill: var(--accent-color);
}

.navigation-list {
  display: flex;
  margin-left: 93px;
}

.navigation-list .navigation-item:not(:first-child) {
  margin-left: 50px;
}

.kontakt-list {
  display: flex;
}
.kontakt-list .kontakt-item:not(:first-child) {
  margin-left: 50px;
}

.container-header {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
/* Конец header */

/* main index.html*/
.section-hero {
  /* min-height: 600px; */
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/main/Img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title-hero {
  margin-top: 0px;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color1);
}

.title-feature {
  margin-top: 0px;
  margin-bottom: 10;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.text-feature {
  width: 270px;
  margin-top: 0px;
  margin-bottom: 0px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.properties-box-ikon {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--botton-background-color);
  margin-bottom: 30px;
}
.properties-icon-antenna {
  display: block;
  width: 70px;
  height: 70px;
  fill: var(--title-color);
}
/* .properties-item::before {
  display: block;
  content: ' ';
  height: 120px;
  outline: 1px solid red;
 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: red;
  margin-bottom: 20px;
}

.properties-item:nth-child(1)::before {
  background-image: url(../images/main/clock\ 1.svg);
} */
.list-properties .properties-item:not(:first-child) {
  margin-left: 20px;
}
.list-properties {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}
.list-employment .item-employment:not(:first-child) {
  margin-left: 30px;
}
.container-employment {
  padding-bottom: 94px;
}

.list-employment {
  display: flex;
  justify-content: center;
}
.title-employment,
.title-team {
  margin-top: 0px;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.item-team {
  background: var(--color1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.list-team .item-team:not(:first-child) {
  margin-left: 30px;
}

.list-team {
  display: flex;
  justify-content: center;
}

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-color);
}
.title-workman {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.box-workman {
  width: 270px;
  padding: 30px 32px;

  /* background: var(--color1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px; */
}
.img-workman {
  margin-top: 0px;
  margin-bottom: 0px;
}

.text-workman {
  margin-top: 0px;
  margin-bottom: 0px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.list-social {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 16px;
  padding-bottom: 0;
}
.svg-social {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.item-social:not(:first-child) {
  margin-left: 10px;
}

.link-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--color1);
  border-radius: 50%;
}

.link-social:hover,
.link-social:focus,
.link-social:hover .svg-social,
.link-social:focus .svg-social {
  background-color: var(--accent-color);
  fill: var(--color1);
}
/* Кнопка */
.button {
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--color1);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  border: 1px solid transparent;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: var(--botton-accent-color);
}
/* Начало секция Постоянные клиенты */
.sektion-klient {
  padding-top: 94px;
  padding-bottom: 94px;
}
.title-klient {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);

  margin-top: 0;
  margin-bottom: 50px;
}
.svg-icon-logo-1 {
  width: 44px;
  height: 49px;
}
.svg-icon-logo-2 {
  width: 40px;
  height: 52px;
}
.svg-icon-logo-3 {
  width: 41px;
  height: 43px;
}
.svg-icon-logo-4 {
  width: 80px;
  height: 42px;
}
.svg-icon-logo-5 {
  width: 59px;
  height: 47px;
}
.svg-icon-logo-6 {
  width: 88px;
  height: 45px;
}

.svg-icon {
  fill: #afb1b8;
}
.link-klient {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  background-color: var(--color1);
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}

.list-klient {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  padding-top: 0;
  padding-bottom: 0;
}

.item-klient:not(:first-child) {
  margin-left: 30px;
}

.link-klient:hover,
.link-klient:focus {
  border: 1px solid var(--accent-color);
}
.link-klient:hover .svg-icon,
.link-klient:focus .svg-icon {
  /*  */
  fill: var(--accent-color);
}

/* Конец секция Постоянные клиенты */
/*Конец main index.html*/

/* footer */
.footer {
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-footer {
  display: flex;
  align-items: center;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
}

.address-footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--adress-color);
}

.address-00-footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color1);
}
/* 
.address-footer-link:hover,
.address-footer-link:focus,
.address-00-footer-link:hover,
.address-00-footer-link:focus {
  color: var(--accent-color);
} */

.box-social-footer {
  margin-left: 70px;
}
.title-social-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color1);

  margin-top: 0;
  margin-bottom: 0;
}

.list-social-footer {
  display: flex;
  list-style-type: none;
  margin-top: 20px;
  padding-bottom: 0;
}
.svg-social-footer {
  width: 20px;
  height: 20px;
  fill: var(--color1);
}
.item-social-footer:not(:first-child) {
  margin-left: 10px;
}

.link-social-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.link-social-footer:hover,
.link-social-footer:focus,
.link-social-footer:hover .svg-social-footer,
.link-social-footer:focus .svg-social-footer {
  background-color: var(--accent-color);
  fill: var(--color1);
}
/* Конец footer */

/* main portfolio.html*/
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-nav-portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.list-nav-portfolio .nav-potfolio-item:not(:first-child) {
  margin-left: 8px;
}

.title-project {
  margin-top: 0px;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.link-direction-item {
  display: block;
}
.list-project-direction {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-left: -30px;
  margin-top: -30px;
}

.project-direction-item {
  flex-basis: calc((100% - 90px) / 3);

  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin-left: 30px;
  margin-top: 30px;
}

.link-project-direction:focus,
.link-project-direction:hover {
  display: block;
  /* border: 1px solid #eeeeee;
  box-sizing: border-box; */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.text-project-direction {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.box-project {
  width: 100%;
  background: var(--color1);
  /* border: 1px solid #eeeeee;
  box-sizing: border-box; */
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
}
/* Кнопки portfolio*/
.botton-nav-portfolio {
  cursor: pointer;
  background-color: var(--botton-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  border-radius: 4px;

  padding: 6px 22px;
  border: 1px solid transparent;
}

.botton-nav-portfolio:hover,
.botton-nav-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--color1);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/*Конец main portfolio.html*/
